* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eeeeee;
  --secondary-color: #222831;
  --third-color: #393e46;
  --background-color: #222831;
  --blue-color: #00adb5;
  --green-color: #016b61;
}

html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: clamp(10px, 1.5vw, 80px);
}
@font-face {
  font-family: gilroy-medium;
  src: url(./asset/Gilroy-Medium.ttf);
}
@font-face {
  font-family: gilroy-bold;
  src: url(./asset/Gilroy-Bold.ttf);
}
@font-face {
  font-family: gilroy-light;
  src: url(./asset/Gilroy-Light.ttf);
}

#main {
  width: 100%;
  height: 100%;
  font-family: gilroy-medium;
  background-color: var(--background-color);
  color: white;
  /* position: relative; */
  overflow: hidden;
}

.all-features {
  width: 100%;
  height: 100%;
  padding: 40px;
  overflow: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

.all-features header {
  width: 100%;
  /* min-height: fit-content; */
  height: inherit;
  background-color: var(--third-color);
  border-radius: 1vw;
  padding: 1.5rem 2rem;
  background-image: url("https://images.unsplash.com/photo-1613284877439-7b8f58349a71?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1035");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: start;
}

@media (max-width: 1000px) {
  .all-features {
    flex-wrap: wrap;
  }
  .all-features header {
    height: fit-content;
    margin-bottom: 5vh;
  }
}

.all-features header .weather-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.weather-info h1:nth-child(1) {
  font-size: 3rem;
  font-weight: 800;
}
.weather-info h2 {
  font-weight: 900;
  font-size: 2rem;
}
.weather-info h1 span {
  font-size: 0.9rem;
}
section.all-element {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  width: 100%;
  align-items: center;
}
.elem {
  background-color: var(--third-color);
  border-radius: 1vh;
  font-size: 1rem;
  height: 300px;
  width: 15%;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  flex: 1 1 140px;
}
.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-transform: capitalize;
}
.elem:active {
  scale: 0.98;
}

.full-element {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  padding: 1.5rem;
  display: none;
  position: absolute;
  z-index: 100;
}

.back {
  border: none;
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.back:active {
  scale: 0.96;
}
.full-element h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.full-element.todo-list-fullpage .todo-cotainer {
  width: 100%;
  height: 80%;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-element.todo-list-fullpage .todo-cotainer .addtask {
  width: 40%;
  background-color: var(--third-color);
  height: 100%;
  border-radius: 1vw;
  padding: 1vw;
}

.full-element.todo-list-fullpage .todo-cotainer .alltask {
  width: 55%;
  background-color: var(--third-color);
  height: 100%;
  border-radius: 1vw;
  padding: 1vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.todo-list-fullpage .todo-cotainer .addtask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}
.todo-cotainer .addtask form .input-box {
  width: 100%;
}

.todo-cotainer .addtask form label {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}
.todo-cotainer .addtask form input,
textarea {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 100%;
  resize: none;
  text-transform: capitalize;
  margin: 1vh 0;
}
.todo-cotainer .addtask form textarea {
  height: 25vh;
}
.todo-cotainer .addtask form button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  width: 100%;
  background-color: var(--blue-color);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.todo-cotainer .addtask form p {
  display: none;
  color: red;
  font-size: 0.65rem;
}
.todo-cotainer .alltask .card {
  background-color: var(--secondary-color);
  padding: 1vw;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.todo-cotainer .alltask .card h1 {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  width: fit-content;
}
.todo-cotainer .alltask .card p {
  font-size: 0.75rem;
}
.todo-cotainer .alltask .card .istrue {
  background-color: red;
  color: white;
  position: absolute;
  font-size: 0.7rem;
  right: 1;
  top: -20%;
  padding: 1px;
  border-radius: 2px;
  margin-left: 5px;
}
.todo-cotainer .alltask .card button {
  padding: 0.5rem 2rem;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--blue-color);
  border-radius: 1rem;
  color: white;
}
.todo-cotainer .alltask .card .card-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.daily-planner-fullpage h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.daily-planner-fullpage .daily-planner {
  background-color: var(--third-color);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
}
.daily-planner::-webkit-scrollbar {
  width: 3px;
}
.daily-planner::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 10px;
  border: none;
}
.daily-planner-fullpage .daily-planner .daily-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
}
.daily-planner .daily-planner-time p {
  position: absolute;
  top: 3%;
  left: 1%;
  margin: 3px;
  font-size: clamp(12px, 1vw, 16px);
  color: gray;
}

.daily-planner .daily-planner-time input {
  padding: 1rem;
  width: 100%;
  background-color: var(--background-color);
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  padding-top: 1.4rem;
  color: var(--primary-color);
  text-transform: capitalize;
}
.motivation-fullpage {
  position: relative;
}
.motivation-fullpage .motivation-container {
  width: 60%;
  min-height: 50%;
  background-color: var(--third-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
}
.motivation-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  scale: 1.2;
  background-color: var(--blue-color);
  z-index: 8;
  border-radius: 1vw;
  filter: blur(100px);
}
.motivation-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--blue-color);
  border-radius: 1vw;
  padding: 1.5vw;
}
.motivation-wrapper .motivation-1 {
  padding: 1.3vw;
  background-color: #393e46;
  border-radius: 10px;
  display: flex;
  gap: 1vw;
}
.motivation-1 h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.motivation-wrapper .motivation-2 h1 {
  padding: 1vw 0;
}
.motivation-wrapper .motivation-2 p {
  text-align: right;
  width: 100%;
  padding: 1vw 0;
}

.pomodoro-fullpage {
  position: relative;
}
.pomodoro-fullpage h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.pomodoro-fullpage .pomo-time {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-time h1 {
  font-size: 5rem;
}
.pomo-time button {
  background-color: var(--third-color);
  border: none;
  color: white;
  padding: 1vw 1.5vw;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vw;
  text-transform: capitalize;
  transition: all ease-in 0.2s;
}
.pomo-time button:active {
  scale: 0.95;
}

.pomodoro-fullpage .work {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: var(--blue-color);
  padding: 1vw 5vw;
  border-radius: 5px;
  text-align: center;
}
